.header__link {
  transition: opacity 0.4s ease-in-out;
}

.header__link:link {
  color: #2f80ed;
  text-decoration: none;
}
  
.header__link:visited {
  color: #2f80ed;
  text-decoration: none;
}
  
.header__link:active {
  color: #2f80ed;
  text-decoration: none;
}
  
  .header__link:hover {
  color: #2f80ed;
  text-decoration: none;
  opacity: 0.5;
}